.main-page-image{
    display: flex;
    position: relative;

}
.main-page-image img{
    width: 30%;
    margin: 50px 35px 35px 80px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 300ms;
}
.main-page-image img:hover {
    transform: translateY(-2px);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
  .main-page-image-location-info{
    position: absolute;
    left: 80px;
    top: 75px;
    font-size: 14px;
    padding: 4px;
    border-radius: 0 4px 4px 0;
}

.main-page-image-location-info:hover{
    position: absolute;
    left: 80px;
    top: 75px;
    font-size: 14px;
    padding: 4px;
    border-radius: 0 4px 4px 0;
}


